doctype html
html(ng-app='Clouder' ng-cloak)
  head
    title= title
    meta(charset='utf-8')
    //lib
    script(src='js/lib/jquery.js')
    script(src='js/lib/angular.js')
    script(src='js/lib/socket.io.min.js')
    script(src='js/lib/jade.min.js')
    //main
    script(src='js/tool.js')
    script(src='js/app.js')
  body
    block content
